#divApplab.appModern button,
#divApplab.appModern button:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label,
#divApplab.appModern label:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text],
#divApplab.appModern input[type=text]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox],
#divApplab.appModern input[type=checkbox]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select,
#divApplab.appModern select:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio],
#divApplab.appModern input[type=radio]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea,
#divApplab.appModern div.textArea:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img,
#divApplab.appModern img:hover {
  height: 100px;
  width: 100px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas,
#divApplab.appModern canvas:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen,
#divApplab.appModern div.screen:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart,
#divApplab.appModern div.chart:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range],
#divApplab.appModern input[type=range]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #game {
  background-image: url("https://studio.code.org/blockly/media/1x1.gif");
  background-size: 320px 450px;
}

#divApplab.appModern #backDay {
  width: 320px;
  height: 390px;
}

#divApplab.appModern #backNight {
  width: 320px;
  height: 375px;
}

#divApplab.appModern #topPipe {
  left: 392px;
  top: -285px;
  width: 72px;
  height: 324px;
}

#divApplab.appModern #bot2Pipe {
  left: 618px;
  top: 265px;
  width: 72px;
  height: 324px;
}

#divApplab.appModern #botPipe {
  left: 392px;
  top: 335px;
  width: 72px;
  height: 324px;
}

#divApplab.appModern #top2Pipe {
  left: 618px;
  top: -80px;
  width: 72px;
  height: 324px;
}

#divApplab.appModern #bird {
  left: 50px;
  top: 200px;
  width: 36px;
  height: 25px;
}

#divApplab.appModern #floor {
  top: 375px;
  width: 320px;
  height: 112px;
}

#divApplab.appModern #floorBar {
  top: 375px;
  width: 620px;
  height: 20px;
}

#divApplab.appModern #gameOver {
  left: 28px;
  top: 80px;
  width: 272px;
  height: 72px;
}

#divApplab.appModern #displayScore {
  left: 147px;
  top: 30px;
  width: 26px;
  height: 35px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  overflow-wrap: break-word;
}

#divApplab.appModern #scorePanel {
  left: 25px;
  top: 160px;
  width: 272px;
  height: 136px;
}

#divApplab.appModern #playAgainBut {
  left: 35px;
  top: 305px;
  width: 116px;
  height: 64px;
}

#divApplab.appModern #scorePanelScore {
  left: 250px;
  top: 200px;
  width: 16px;
  height: 21px;
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 16px;
  overflow-wrap: break-word;
}

#divApplab.appModern #scorePanelBest {
  left: 250px;
  top: 250px;
  width: 16px;
  height: 21px;
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 16px;
  overflow-wrap: break-word;
}

#divApplab.appModern #quitBut {
  left: 171px;
  top: 305px;
  width: 116px;
  height: 64px;
}

#divApplab.appModern #endGame {
  display: none;
}

#divApplab.appModern #endGameBackground {
  width: 320px;
  height: 450px;
}

#divApplab.appModern #endPlayAgain {
  left: 110px;
  top: 410px;
  width: 100px;
}

#divApplab.appModern #label1 {
  top: 10px;
  width: 320px;
  height: 85px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  overflow-wrap: break-word;
}

#divApplab.appModern #label4 {
  left: 95px;
  top: 130px;
  width: 130px;
  height: 45px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  overflow-wrap: break-word;
}

#divApplab.appModern #resetVals {
  width: 100px;
  left: 110px;
  top: 375px;
}
