@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

body {
    background-color: #1e1e1e;
}

h1 {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans';
    text-align: center;
}

button {
    background-color: #a3a3a3;
    color: #fff;
    font-family: Consolas;
    border: none;
    display: block;
    margin: 10px auto auto auto;
}

#container {
    height: 450px;
    width: 320px;
    border: 2px solid red;
    background-color: #fff;
    position: relative;
    margin: auto;
}

#person {
    height: 50px;
    width: 50px;
    background-color: lightgreen;
    position: absolute;
}